.hero {
  position: relative;
 background-image: url("https://images.unsplash.com/photo-1600180758895-83f6c2f0edb5?auto=format&fit=crop&w=1280&q=80");
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  /* height: 500px; */
  /* display: flex; */
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
background-color: #f5f5f5; /* light background for contrast */
  padding: 2rem;
}

.hero__content {
  /* background-color: rgba(0, 0, 0, 0.5);  */
  padding: 2rem;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero__content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #000;
}

.hero__content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1px;
  color: #333;
}

.hero__button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero__button:hover {
  background-color: #ddd;
}


.hero__images {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
 margin-bottom: 3rem;
}

.hero__images img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.3s;
  object-fit: cover;
}

.hero__images img:hover {
  transform: scale(1.1);
}

.hero__products {
  margin-top: 2rem;
  /* text-align: center; */
}

.hero__products h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #000;
  text-align: center; /* center the heading */
}

.hero__product-list {
     display: flex;
      gap: 1rem;
    margin-top: 1rem;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero__product-list img {
  width: 225px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.1) ;
  /* margin-top: 55px; */
  height: 225px;
  object-fit: 200px;
  margin-bottom: 150px;
}

.hero__product-list img:hover {
  transform: scale(1.05);
}


.hero__ultraboost {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.hero__ultraboost-image {
  width: 300%;
  height: auto;
  max-width: 800px; /* limit size so it doesn’t get too huge */
  border-radius: 20px; 
  margin-top: 70px;
  background-color: #f5f5f5;
   transition: transform 0.3s ease;
  
}


.hero__ultraboost-image:hover  {
 transform: scale(1.1);
   box-shadow:0 4px 10px rgba(0, 0, 0, 0.1) ;
}


